{% extends "base.html" %}

{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
    <h1>About Me</h1>
<body>
<div class="panel panel-success">
  <div class="panel-heading">Info</div>
  <div class="panel-body">
    {% for details in about %}
      <div>Name: {{ details.name }}</div>
        <br>
      <div>Age: {{ details.age }}</div>
        <br>
      <div>Location: {{ details.location }}</div>
        <br>
      <div>Profession: {{ details.profession }}</div>
        <br>
      <div>Hobbies: {{ details.hobbies }}</div>
        <br>
      <div>More About Me: {{ details.more_about_me }}</div>
    {% endfor %}
  </div>
</div>
</body>
{% endblock %}
</html>