{% extends "base.html" %}
{% block content %}

    <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    {% load staticfiles %}
    <img src="{% static "Soccer.jpeg" %}" alt="Soccer">
    <link rel="stylesheet" href="{% static "main.css" %}">
</head>
<body>
    <h1>Welcome to the Euros!</h1>
    <div class="Container">
    <p>It is time again for the UEFA European Championship, one of my favorite
     events in all of sports. LET'S DO THIS! Okay, reeling it in.
    The UEFA European Championship, also known as the Euros, is an international
    competition in which certain qualifying countries on the
    continent of Europe come together once every four years to compete for the
    highest honor in European international soccer. Who will be the victor in the
    15th edition of this classic competition? Well... before we get into the
    competitive spirit, let's take a little ride on the Education Express.
    In honor of the participating nations, here is a small infographic for
    each.<a href="{% url 'detailed_info_view' %}">...(click)</a></p>
    </div>

    <img src="{% static "flags.png" %}" alt="flags">
{% endblock %}
</body>
</html>